@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  width: 100%;
  height: 100%; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.container {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.31);
  min-width: 940px;
  min-height: 650px; }

.order-link {
  min-width: 6.125rem;
  padding: 10px 16px 10px 16px;
  border-radius: 5px;
  background-color: #e25028;
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  display: inline-block; }
  .order-link:hover {
    background-color: #cb411b; }

.sidebar {
  position: fixed;
  right: 50px;
  top: 110px; }

.sidebar__item {
  margin-bottom: 15px; }

.sidebar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 13px;
  height: 13px; }

.sidebar__link::before {
  content: '';
  height: 6px;
  width: 6px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 25%; }

.sidebar__link:after {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-57%, -7%);
  -ms-transform: translate(-57%, -7%);
  transform: translate(-57%, -7%);
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  background-color: transparent; }

.sidebar__link:hover:after {
  opacity: 1; }

.hero {
  background-image: url("../img/bg/hero_bg.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px; }

.header__menu {
  margin-left: auto; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-transform: uppercase;
  color: white; }

.nav__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  line-height: 1.42;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 13px;
  padding-left: 14px;
  padding-right: 15px; }
  .nav__link:hover {
    text-decoration: underline; }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap; }
  .nav__item:before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff; }
  .nav__item:first-child:before {
    content: "";
    height: 0px;
    width: 0px; }

.hero__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.hero__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 15%; }

.hero__img, .hero__description {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.hero__img {
  max-width: 100%; }

.hero__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section__title {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.42;
  margin: 0;
  padding-top: 35px; }

.hero__description-text {
  color: #fff;
  font-family: 'Lifehack';
  font-size: 4.5rem;
  line-height: 1; }

.scroll-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 0;
  left: 50%;
  bottom: 10%; }

.scroll-btn:hover {
  -webkit-animation: move 1s;
  animation: move 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  opacity: 1; }

@-webkit-keyframes move {
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }

@keyframes move {
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }

.best {
  background-image: url("../img/bg/best-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.section__title--best {
  color: #2f3234;
  padding: 0;
  margin-bottom: 27px; }

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.description__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  max-width: 310px;
  margin-left: 10px; }
  .description__item:first-child {
    margin-left: 0; }

.description__item--center {
  margin-left: 18px;
  margin-right: 18px; }

.description__item--right {
  margin-bottom: 28px; }

.description__some {
  font-size: 24px;
  font-family: 'Lifehack';
  margin-bottom: 10px; }

.description__text {
  font-size: 14px;
  font-weight: 300;
  font-family: 'Ubuntu';
  line-height: 1.8; }

.description__img {
  margin-bottom: 25px; }

.description__some--natural {
  margin-bottom: 0; }

.description__img--natural {
  margin-bottom: 35px; }

.team {
  background-image: url("../img/bg/bg-team.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative; }

.absolut {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(47, 50, 52, 0.93); }

.section__title--team {
  margin-bottom: 25px;
  padding-top: 0px; }

.our-team {
  padding: 100px 70px 40px 90px; }

.person__text {
  color: #fff; }

.accordeon__trigger {
  font-family: 'Gagalin';
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  display: block; }

.person {
  height: 0;
  overflow: hidden; }

.accordeon__item--active .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.accordeon__item--active .accordeon__trigger {
  color: #f8b43a; }

.accordeon__item--active:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.person__avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 20px; }

.accordeon__item {
  position: relative;
  padding-left: 20px;
  margin-bottom: 35px; }

.accordeon__item:before {
  content: "";
  display: block;
  border-top: 6px solid #f8b43a;
  border-right: 6px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 6px solid transparent;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 7px;
  left: 0%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.person__text {
  max-width: 230px; }

.prof {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold; }

.job-text {
  font-size: 14px;
  font-weight: 300; }

.menu {
  background-image: url("../img/bg/bg-menu.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative; }

.section__title--menu {
  top: 140px;
  left: 95px;
  position: absolute;
  color: #fff; }

.menu-view {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%; }

.menu-view__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu-view__block {
  width: 0;
  overflow: hidden; }

.menu-view__item--active .menu-view__block {
  width: 540px;
  padding: 90px 36px 0 40px;
  line-height: 1.8; }

.menu-view__item--active .menu-view__trigger-text {
  color: #f8b43a; }

.menu-view__trigger {
  width: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.menu-view__trigger-text {
  position: absolute;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  top: 90%;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  left: 50%;
  color: #fff;
  font-family: 'Gagalin';
  font-size: 40px;
  white-space: nowrap;
  line-height: 0;
  z-index: 10; }

.menu-view__block {
  background-color: rgba(47, 50, 52, 0.93);
  color: #fff;
  font-size: 14px;
  font-weight: 300; }

.reviews {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.reviews__item {
  height: 50%;
  width: 25%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  .reviews__item:hover .review {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.7);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 1; }

.reviews__item-hover {
  height: 100%; }

.reviews__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.review {
  padding: 50px 70px 50px 40px;
  opacity: 0;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

h3 {
  font-family: 'Gagalin';
  font-size: 14px;
  color: #fff; }

.review__text {
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  text-align: left;
  line-height: 1.76; }

.review__btn-link {
  min-width: 6.125rem;
  padding: 10px 16px 10px 16px;
  border-radius: 5px;
  background-color: #2f3234;
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .review__btn-link:hover {
    background-color: #1e2021; }

.delivery {
  background-image: url("../img/bg/form-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  color: #fff; }

.section__title--form {
  padding-top: 25%;
  margin-bottom: 25px; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

input {
  border: 1px solid #d1cfcb;
  border-radius: 5px;
  padding: 6px 0 4px 10px;
  outline: none;
  width: 100%; }
  input:focus {
    border: 1px solid #f9b43b;
    border-radius: 5px; }

textarea {
  width: 100%;
  resize: none;
  outline: none;
  border-radius: 5px;
  min-height: 109px;
  margin-bottom: 5px; }
  textarea:focus {
    border: 1px solid #f9b43b;
    border-radius: 5px; }

.form__col {
  width: 50%;
  margin-right: 2%; }
  .form__col:last-child {
    margin-right: 0; }

.form__radio-elem {
  display: inline-block;
  vertical-align: middle;
  margin: 0; }

.form__radio-text, .form__check-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px; }

.form__radio-fake {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  margin-right: 3px; }

.form__radio-elem:checked + .form__radio-fake:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;
  background-color: #e35028;
  border-radius: 50%; }

.form__check-fake {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  vertical-align: middle;
  position: relative;
  outline: none;
  margin-right: 8px; }

.form__check-elem:checked + .form__check-fake:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 11px;
  height: 9px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-image: url(../img/content/check.png); }

.form-pay__radio {
  margin-bottom: 15px; }
  .form-pay__radio .form__radio {
    margin-right: 20px; }

.form-pay__check {
  margin-bottom: 20px; }

.form__btns-order {
  margin-right: 20px; }

.form-pay__btns {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px; }

.form__block {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 20px; }
  .form__block:last-child {
    margin-right: 0px; }

.form__title {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 300; }

/*# sourceMappingURL=main.css.map */