.best {
  background-image: url('../img/bg/best-bg.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.best__container {
  height: 100%;
  display: flex;
}

.section__title--best {
  color: #2f3234;
  padding: 0;
  margin-bottom: rem(27px);

  @include tablets {
    margin-bottom: rem(40px);
  }

  @include phones {
  font-size: rem(50px);
  margin-top: 20%;
  margin-bottom: 5%;
  }
}

.description {
    display: flex;
    justify-content: space-between;

    @include phones {
      flex-direction: column;
      width: 100%;
    }
}

.description__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: rem(310px);
    margin-left: rem(10px);
    &:first-child {
      margin-left: 0;
    }

    @include tablets {
      margin-left: 1.625rem;
    }

    @include phones {
    position: relative;
    max-width: none;
    margin-left: 0;
    margin-bottom: rem(50px);
    }
}

.description__some {
    font-size: rem(24px);
    font-family: 'Lifehack';
    margin-bottom: rem(10px);
}

.description__text {
    font-size: rem(14px);
    font-weight: 300;
    font-family: 'Ubuntu';
    line-height: 1.8;

    @include phones {
      padding-left: 28%;
      text-align: left;
    }
}

.description__img {
    margin-bottom: rem(25px);


    @include tablets {
      margin-bottom: rem(28px);
    }

    @include phones {
      position: absolute;
    }
}

.description__some--natural {
    margin-bottom: 0;

    @include tablets {
    margin-bottom: rem(6px);
    }

    @include phones {
    padding-left: 25%;
    }
}

.description__img--natural {
    margin-bottom: rem(35px);
}
