.map {
  color: #fff;
  position: relative;
}

.map__container {
  height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: url('../img/bg/footer.png') center center / cover no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4375rem 0;
  z-index: 99;
}

.footer__content {
  max-width: rem(940px);
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include phones {
  flex-direction: column;
  }
}

.footer__col {
  width: 50%;
  display: flex;

  @include phones {
    text-align:  center;
  }
}

.footer__col-right {
  text-align: right;
  display: flex;
  justify-content: flex-end;

  @include phones {
    text-align:  center;
    justify-content: center;
  }
}

.footer__col-left {
    margin-bottom: rem(10px);
    flex-direction: column;
}

.footer__adress {
  margin-bottom: rem(10px);
  font-size: rem(14px);
  font-weight: 300;

  @include phones {
    font-size: rem(11px);
  }
}

.footer__phone {
  text-decoration: none;
  color: $orange;

  @include phones {
    font-size: rem(11px);
  }

  &:before {
    content: '';
    width: rem(13px);
    height: rem(12px);
    background: url('../img/content/footer-phone.png') center center / cover no-repeat;
    display: inline-block;
    margin-right: rem(3px);
  }
}

.socials__icon {
  fill: #585858;
  &:hover {
    fill: #fff;
    transition: .3s;
  }
}

.socials__link {
  text-decoration: none;
  width: rem(20px);
  height: rem(20px);
  display: inline-block;
}

.socials__item {
  display: inline-block;
  margin-right: rem(18px);

  &:last-child {
    margin-right: 0;
  }
}
