.menu {
  background-image: url('../img/bg/bg-menu.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.section__title--menu {
  top:rem(50px);
  left: rem(250px);
  position: absolute;
  color: #fff;

  @include tablets {
    top: 5.125rem;
    left: 1.625rem;
  }

  @include tablets {
    font-size: rem(50px);
  }
}

.menu-acco {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  max-width: 100%;
}

.menu-acco__item {
  display: flex;
}

.menu-acco__block {
  width: 0;
  overflow: hidden;
}

.menu-acco__item--active {
  .menu-acco__block {
    width: rem(540px);
    padding: rem(90px) rem(36px) 0 rem(40px);
    line-height: 1.8;

    @include tablets {
    width: 21.25rem;
    }

    @include phones {
    width: 100%;
    }
  }
  .menu-acco__trigger-text {
    color: $yellow;
  }
}


.menu-acco__trigger {
  width: rem(80px);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.menu-acco__trigger-text {
  position: absolute;
  transform-origin: left top;
  top: 90%;
  transform: rotate(-90deg);
  left: 50%;
  color: #fff;
  font-family: 'Gagalin';
  font-size: rem(40px);
  white-space: nowrap;
  line-height: 0;
  z-index: 10;
}

.menu-acco__block {
  background-color: rgba(47, 50, 52, 0.93);
  color: #fff;
  font-size: rem(14px);
  font-weight: 300;
}
