.menu {
  background-image: url('../img/bg/bg-menu.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  justify-content: flex-end;
  display: flex;
}

.section__title--menu {
  top:rem(50px);
  left: rem(250px);
  position: absolute;
  color: #fff;

  @include tablets {
    top: 5.125rem;
    left: 1.625rem;
  }

  @include tablets {
    font-size: rem(50px);
  }
}

.menu-acco {
  display: flex;
  z-index: 5;
}

.menu-acco__item {
  display: flex;
}

.menu-acco__block {
  width: 0;
  overflow: hidden;
}

.menu-acco__item {

  &.menu-acco__item--active {

    @include phones {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 99;
    }

    .menu-acco__trigger-text {
      color: $yellow;
    }

    .menu-acco__block {
      padding: rem(90px) rem(36px) 0 rem(40px);
      line-height: 1.8;
      transition: width 0.5s;
      width: 33.75rem;
      transition: 1s;

      @include tablets {
      width: 21.25rem;
      }

      @include phones {
      width: 100%;
      padding: 3rem 1rem;
      min-width: 13.75rem;
      }
    }
  }
}

.menu-acco__trigger {
  width: rem(80px);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: flex-end;
  text-decoration: none;

  @include tablets {
  width: 4rem;
  }
}

.menu-acco__trigger-text {
  transform-origin: left top;
  transform: rotate(-90deg);
  left: 50%;
  color: #fff;
  font-family: 'Gagalin';
  font-size: rem(40px);
  white-space: nowrap;


}

.menu-acco__block {
  background-color: rgba(47, 50, 52, 0.93);
  color: #fff;
  font-size: rem(14px);
  font-weight: 300;
}
