.team {
  background-image: url('../img/bg/bg-team.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.team__section {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  background-color: rgba(#2f3234, 0.93);

  @include tablets {
    left: 0;
  }
}

.section__title--team {
  margin-bottom: rem(27px);
  padding-top: rem(0px);

  @include phones {
  font-size: rem(50px);
  margin-bottom: rem(15px);
  }
}

.our-team {
  padding: rem(100px) rem(70px) rem(40px) rem(90px);

  @include tablets {
    text-align: center;
  }

  @include tablets {
  padding: 6.25rem rem(47px) rem(40px) rem(50px);
  }
}

.person__text {
  color: #fff;
}

.team-acco__trigger {
  font-family: 'Gagalin';
  font-size: rem(14px);
  color: #fff;
  text-decoration: none;
  margin-bottom: rem(10px);
  display: inline-block;

  @include tablets {
  display: inline-block;
  font-size: rem(25px);
  }
}

.person {
  height: 0;
  overflow: hidden;

  @include tablets {
    flex-direction: column;
    align-items: center;
    display: flex;
  }
}

.team-acco {
  @include tablets {
    padding: 0 10%;
  }

  @include phones {
  padding: 0;
  }
}

 .team-acco__item--active {
   .person {
     height: auto;
     padding-left: rem(20px);
     margin-bottom: rem(30px);


    @include phones {
      padding-left: 0;
      }
   }

   .team-acco__trigger {
     color: $yellow;
   }

   &:before {
     transform: rotate(180deg);
   }
}

.person__avatar {
    width: 6.25rem;
    min-height: rem(100px);
    border-radius: 50%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 1.25rem;
    display: inline-block;

    @include tablets {
    margin-right: 0;
    margin-bottom: rem(15px);
    width: 7.25rem;
    height: 7.25rem;
    }
}

.team-acco__item {
  position: relative;
  margin-bottom: 1.1875rem;
}

.team-acco__item:before {
  content: "";
  display: inline-block;
  border-top: rem(6px) solid $yellow;
  border-right: rem(6px) solid transparent;
  border-bottom: rem(0px) solid transparent;
  border-left: rem(6px) solid transparent;
  transition: 0.3s;
  margin-right: rem(5px);
}

.person__text {
  max-width: 14.75rem;
  display: inline-block;

  @include tablets {
  max-width: none;
  }
}

.person__prof {
  margin-bottom: 0.9rem;
  font-size: 0.875rem;
  font-weight: bold;
}

.person__job-text {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.8;

  @include tablets {
  padding: 0 rem(62px);
  margin-right: rem(26px);
  }

  @include phones {
    padding: 0;
    margin-right: 0;
  }
}
