.team {
  background-image: url('../img/bg/bg-team.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.absolut {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(#2f3234, 0.93);
}

.section__title--team {
  margin-bottom: 25px;
  padding-top: 0px;
}

.our-team {
  padding: 100px 70px 40px 90px;
}

.person__text {
  color: #fff;
}

.accordeon__trigger {
  font-family: 'Gagalin';
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
}

.person {
  height: 0;
  overflow: hidden;
}

 .accordeon__item--active {
   .person {
     display: flex;
     height: auto;
     justify-content: flex-start;
   }
   .accordeon__trigger {
     color: $yellow;
   }

   &:before {
     transform: rotate(180deg);
   }

}

.person__avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 20px;
}

.accordeon__item {
  position: relative;
  padding-left: 20px;
  margin-bottom: 35px;
}

.accordeon__item:before {
  content: "";
  display: block;
  border-top: 6px solid $yellow;
  border-right: 6px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 6px solid transparent;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 7px;
  left: 0%;
  transition: 0.3s;
}

.person__text {
  max-width: 230px;
}

.prof {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}

.job-text {
  font-size: 14px;
  font-weight: 300;
}
