.reviews {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.reviews__item {
  height: 50%;
  width: 25%;
  background: url(../img/content/reviews/1.jpg);
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.reviews__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.review {
  width: 100%;
  height: 100%;
  position: relative; }

.review__img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
